//tamaño de letra
$font-16: 1rem;
$font-20: 1.25rem;
$font-24: 1.5rem;
$font-32: 2rem;
$font-48: 3rem;

//colores centrales
$marronOscuro: #EBD8C3;

//tamaño de alto y ancho en porcentaje
$height-20: 20%;
$width-20: 20%;