.tablaCarrito{
    margin-top: 4%;
    font-size: 1.2rem;
    .itemCarrito{
        font-size: 1.2rem;
    }
}

.pOculto{
    font-size: 1.3rem;
    margin-top: 7%;
}

.btnFinal{
    background-color: #EBD8C3;
}
.center{
    text-align: center;
    background-color: #F7E9D7;
}

.divFinalizarCompra{
    width: 100%;
    margin-top: 5%;
}